.center { text-align: center; }
.active, .active:hover { text-decoration: underline; }
.no-margin-below { margin-bottom: 0px; }
.no-margin-above { margin-top: 0px; }


.content {
	margin-top: 5%;
	margin-bottom: 5%;
}

nav a {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: .2rem;
	margin-right: 35px;
	line-height: 6.5rem;
	text-decoration: none;
}

a, a:hover {
	color: inherit;
	text-decoration: none;
}

.section-header {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.4rem;
	letter-spacing: .2rem;
}


.about a {
	text-decoration: underline;
}


.track {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	min-height: 64px;
}

.track img {
  height: 64px;
}

.track h5 {
  margin-bottom: 0px;
  padding-left: 10px;
}
